@model List<CasaStark.Models.Miembros>

@{
    ViewData["Title"] = "Lista de Miembros de Casa Stark";
}




<div class="grid-container">
    <h2>Lista de Miembros</h2>
    <table class="grid-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Habilidad</th>
                <th>Rol</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var miembros in Model)
            {
                <tr>
                    <td>@miembros.Id</td>
                    <td>@miembros.Nombre</td>
                    <td>@miembros.Habilidad</td>
                    <td>@miembros.Rol</td>
                </tr>
            }
        </tbody>
    </table>
</div>
