@model List<CasaStark.Models.Miembros>

@{
    ViewData["Title"] = "Lista de Miembros de Casa Stark";
}

<h1>Agregar un nuevo miembro</h1>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h2>Registro de Miembros de la Casa Stark</h2>
    <form method="post" action="/Home/AgregarMiembro">
        <div class="form-group">
            <label for="Nombre">Nombre:</label>
            <input type="text" id="Nombre" name="Nombre" class="form-control" />
        </div>

        <div class="form-group">
            <label for="Habilidad">Habilidad:</label>
            <input type="text" id="Habilidad" name="Habilidad" class="form-control" />
        </div>

        <div class="form-group">
            <label for="Rol">Rol:</label>
            <input type="text" id="Rol" name="Rol" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Registrar Miembro</button>
    </form>

</div>
<div class="grid-container">
    <h2>Lista de Miembros</h2>
    <table class="grid-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Habilidad</th>
                <th>Rol</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var miembros in Miembros)
            {
                <tr>
                    <td>@miembros.Id</td>
                    <td>@miembros.Nombre</td>
                    <td>@miembros.Habilidad</td>
                    <td>@miembros.Rol</td>
                </tr>
            }
        </tbody>
    </table>
</div>
